@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap"); */


/*
:root {
    --primary-color: #d291bc;
    --primary-color-dark: #f7ebf3;
    --text-dark: #1e293b;
    --text-light: #64748b;
    --extra-light: #fafafa;
    --white: #ffffff;
}
*/


:root {
    --primary-color: #100e17;
    --primary-color-dark: #0c0b12;
    --white: #ffffff;
    
    --secondary-color: #141414;
    /* --secondary-color: #131516; */
    --secondary-color-2: #0d0d0d;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f8f8f8;
    --orange: #ff581d;

    --max-width: 1200px;
    --background-gradient-1: linear-gradient(to right, #1a5fee, #10bae1);
    --background-gradient-2: linear-gradient(to right, #0d1732, #0f2835);
    
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    text-decoration-color: white;
}
  
a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.7rem;
    text-decoration-color: rgb(181, 181, 181);
}

html,
body {
    scroll-behavior: smooth;
    background: black;
}
  
body {
    /* font-family: "Work Sans", sans-serif; */
    font-family: "Poppins", sans-serif;
}

.navigation_container {
  background-color: var(--secondary-color);
}

nav {
    max-width: 90%;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 16vh;
    color: white;
    /* background-color: aquamarine; */
}
  
/* .nav_logo { */
    /* display: flex; */
    /* align-items: center; */
    /* gap: 5px; */
/* } */

.nav_logo {
    font-size: 1.25rem;
    /* color: var(--text-dark); */
}
  
.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}
  
.link a {
    /* padding: 5px; */
    /* color: var(--text-light); */
    color: white;
  }
  
/* .link a:hover { */
    /* color: var(--primary-color); */
/* } */

/* Navbar from other website */

nav,
.nav-links {
  display: flex;
}

.logo {
  font-size: 1.25rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
  position: relative;
  z-index: 1000;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0%;
  /* background-color: #64748b; */
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  /* font-size: 1.5rem; */
  color: var(--text-light);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:nth-child(2) {
  opacity: 1;
}

.hamburger-icon span:last-child {
  transform: none;
}

/* SHOWCASE */

#showcase{
    min-height: 100vh;
    background: url(img/plane-in-the-middle-of-buildings.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    /* position: relative; */
    opacity: 0.90;
    text-align: center;
    color: #000;
}

/* Another Section */

.blabla {
    height: 130vh;
    background-color: #1e293b;
    color: #f7ebf3;
    display: flex;
    justify-content: center;
    align-items: center;
}



.child {
    width: 100%;
    /* background-color: red; */
    margin: 200px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child-1 {
    display: block;
    text-align: center;
}

.grand-child {
    margin: 0 100px;
}

.grand-child-1 {
    border-right: 2px solid lightblue;
    height: 20vh;
    padding-right: 30px;
}

.holders {
    /* background-color: var(--primary-color-dark); */
    background-color: #e54f1a;
    color: white;
}
  
.holders_grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    /* background: var(--background-gradient-2); */
    background: darkorange;
}
  
.holders_card {
    padding: 2rem;
    text-align: center;
    /* background-color: var(--primary-color-dark); */
    background-color: #e54f1a;
}
  
.holders_card span {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 100%;
}
  
.holders_card span img {
    max-width: 50px;
}
  
.holders_card h4 {
    font-size: 1.5rem;
    font-weight: 400;
}
  
.holders_content {
    max-width: 700px;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
    /* background: var(--background-gradient-2); */
    border-radius: 10px;
}
  
/*****************************************************************/

.section_container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

/*
.section_header {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--text-dark);
}*/
  
.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  /* background-color: var(--primary-color); */
  background-color: var(--orange);
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
}
  
.btn:hover {
  background-color: var(--primary-color-dark);
}

.btn_primary {
  border-radius: 5px;
}
  
a {
  text-decoration: none;
}
  
img {
  width: 100%;
  display: flex;
}
  
/*****************************************************************/

/* .bookingcontainer { */
  /* border-radius: 2rem; */
  /* border: 1px solid var(--extra-light); */
  /* box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1); */
  /* width: 90%; */
  /* margin: 100px auto; */
/* } */
  
.booking_nav {
  max-width: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  /* background-color: var(--extra-light); */
  /* background-color: #dadada; */
  /* background-color: black; */
  background-color: rgb(22, 22, 22);
  border-radius: 5px;
}
  
.booking_nav span {
  flex: 1;
  padding: 1rem 2rem;
  font-weight: 500;
  /* color: var(--text-light); */
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

/* .booking_nav span:active { */
  /* color: var(--white); */
  /* background-color: var(--orange); */
/* } */

.clicked {
  color: var(--white);
  background-color: var(--orange);
}

/* .booking_nav span:nth-child(2) { */
  /* color: var(--white); */
  /* background-color: var(--primary-color); */
  /* background-color: var(--orange); */
/* } */
.booking_container {
  border-radius: 2rem;
  /* border: 1px solid var(--extra-light); */
  /* box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1); */
  box-shadow: 5px 5px 30px rgba(85, 85, 85, 0.2);
  margin: 50px auto;
  background: black;
  color: white;
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
}
  
.booking_container form {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr) auto;
  gap: 1rem;
}
  
.booking_container .input_content {
  width: 100%;
}
  
.booking_container .form_group {
  display: flex;
  align-items: center;
  gap: 1rem;
}
  
.booking_container .form_group span {
  padding: 10px;
  font-size: 1.5rem;
  color: var(--text-dark);
  /* background-color: var(--extra-light); */
  background-color: #0d0d0d;
  border-radius: 1rem;
}
  
.booking_container .input_group {
  width: 100%;
  position: relative;
}
  
.booking_container label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
  pointer-events: none;
  transition: 0.3s;
}
  
.booking_container input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  outline: none;
  border: none;
  background: black;
  border-bottom: 1px solid #1f1c2c;;
  /* color: var(--text-dark); */
  color: rgb(184, 182, 182);
}
  
.booking_container input:focus ~ label {
  font-size: 0.8rem;
  top: 0;
}
  
.booking_container .form_group p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: var(--text-light);
}
  
.booking_container .btn {
  padding: 1rem;
  font-size: 1.5rem;
}
  
/*****************************************************************/

/*
.section_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}
*/

.section_header {
  margin-bottom: 1.2rem;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.section_subheader {
  max-width: 600px;
  margin: auto;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.3rem;
}

/*
.section_subheader::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 45px;
  aspect-ratio: 1;
  background-color: var(--primary-color);
  z-index: -1;
}*/

/* FAQ Section */

.faq {
  /* background-color: var(--primary-color-dark); */
  background-color: var(--secondary-color);
  color: white;
}

.question_accordian {
  position: relative;
  isolation: isolate;
  max-width: 900px;
  margin: 4rem auto 0;
  display: grid;
  gap: 2px;
}

.question_accordian::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: var(--background-gradient-2); */
  background-color: var(--secondary-color-2); 
  z-index: -1;
}

.question_box {
  /* background-color: var(--primary-color-dark); */
  background-color: var(--secondary-color);
}

.question_box .title {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.question_box .title p span {
  display: inline-block;
  /* padding: 5px 10px; */
  /* padding: 5px 7px; */
  padding: 5px 6.7px;
  margin-right: 1rem;
  /* width: 35px; */
  /* height: 35px; */
  /* background: var(--background-gradient-2); */
  /* background-color: var(--secondary-color); */
  background-color: var(--secondary-color-2); 
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 100%;
}

.question_box .title p {
  font-size: 1.1rem;
  font-weight: 500;
}

.question_box .title .icon {
  padding: 5px 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.question_box .content {
  height: 0;
  padding: 0 2rem;
  /* background: var(--background-gradient-2); */
  background-color: var(--secondary-color-2); 
  transition: 0.5s;
  overflow: hidden;
}

.question_box.active .content {
  height: 130px;
  padding: 2rem;
}

/* Subscribe Section */

.section_subscribe {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.subscribe {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("img/marco-lopez-qK6HAkB91Yc-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.subscribe_container {
  max-width: 700px;
  text-align: center;
}

.subscribe_container .section_subheader {
  max-width: fit-content;
  margin-inline: auto;
}

.subscribe_container form {
  margin-block: 2rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.subscribe_container input {
  flex: 1;
  width: 100%;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--white);
  border-radius: 5px;
}

.subscribe_container .btn {
  flex: 1;
  justify-content: center;
}

.subscribe_container .para a {
  color: #ff581f;
}

/* Footer Styles */


/* Styles from Different Places */

/*
.section_container {
  max-width: var(--max-width);
  padding: 5rem 1rem;
  margin: auto;
}
*/

.footer {
  background-color: var(--secondary-color);
}

.footer_container {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  gap: 2rem;
}

.footer_col h4 {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.footer_col p {
  margin-bottom: 1rem;
  color: var(--white);
}

.footer_col a {
  display: block;
  margin-bottom: 1rem;
  color: var(--extra-light);
  transition: 0.3s;
}

.footer_col a span {
  margin-right: 5px;
}

.footer_col a:hover {
  color: var(--primary-color);
}

.footer_socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer_socials span {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.footer_bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--white);
  text-align: center;
}

/* Media Queries */

/* 1200 Pixels */
@media (max-width: 1200px) {
  .nav_btns {
    display: none;
  }
}

/* 900 Pixels */
@media (max-width: 900px) {
  .holders_grid {
    grid-template-columns: repeat(1, 1fr);
  }
  
  /* .booking_container form .btn { */
    /* background: red; */
  /* } */

  .booking_container form {
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 50% 50% 50% 50% 100%; */
  }

  .booking_container .btn {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  /* .button_container { */
    /* display: flex; */
    /* justify-content: center; */
    /* border: 1px solid black; */
    /* background-color: red; */
    /* align-items: center; */
  /* } */

  /* .button_container .btn { */
    /* width: 50%; */
  /* } */

  .question_box.active .content {
    height: 175px;
  }
  
  .footer_container {
    grid-template-columns: 2fr 1fr;
  }

  .footer_col:nth-child(4) {
    grid-area: 2/1/3/2;
  }
}

/* 600 Pixels */
@media (max-width: 600px) {
  .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .booking_container form {
    grid-template-columns: repeat(1, 1fr);
  }

  .booking_container .btn {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .question_box.active .content {
    height: 250px;
  }

  .subscribe_container form {
    flex-direction: column;
  }

  .subscribe_container .btn {
    width: 100%;
  }
}